.main-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background-color: #f6f6f6;
}

.centred-container--mainContainer {
	margin: 0 auto;
}

.wrapper-body--mainContainer {
	width: calc(93.2rem - 10.8rem);
	padding: 0 5.4rem;
	background-color: #ffffff;
}