.wrapper-inline-block {
	display: inline-block;
}

.body--welcomeScreen {
	margin-top: 2.8rem;
	margin-bottom: 6rem;
}

.body--welcomeScreen h2 {
	margin-bottom: 1.2rem;
	margin-left: 1.4rem;
}

.wrapper-dragAndDropZone--welcomeScreen {
	height: 37.1rem;
}
