.container {
	margin-bottom: 0.8rem;

	&:hover {
		button {
			visibility: visible;
		}
	}

	&__textareaGrid {
		display: grid;
		grid-template-columns: 3.2rem 1fr 3.2rem;

		&__lefContainer {
			display: flex;
			flex-direction: column;

			button {
				align-self: center;
				width: 1.6rem;
				height: 1.6rem;
				visibility: hidden;
			}
		}

		input {
			grid-area: 1/2/2/3;
		}

		&__btn_wrapper {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			button {
				visibility: hidden;
			}
		}
	}
}
