.container--radioButtonQuestion {
  .container-question-radioButtonQuestion {
    display: grid;
    grid-template-columns: 1fr 3.2rem;
    margin-bottom: 1.6rem;

    textarea {
      width: 100%;
      min-height: 4.8rem;
    }

    .trash-button--radioButtonQuestion {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
