@import "./assets/fonts/Roboto/roboto.css";

:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
}

#root > :first-child {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  margin: 0;
  padding: 0;
}

.hidden-button {
  display: flex;
  border: none;
  background-color: transparent;
}

.hidden-button:focus {
  outline: 0;
}

.icon {
  margin: auto;
}

.input {
  padding: 1.5rem 1.3rem;
  border: 0.1rem solid #d1d1d9;
  border-radius: 0.4rem;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.btn-intpu {
  width: 100%;
  text-align: start;
  padding: 1.5rem 1.3rem;
  border: 0.1rem solid #d1d1d9;
  border-radius: 0.4rem;
  background-color: #ffffff;
  cursor: text;
  outline: none !important;
}

.input:focus {
  outline: none !important;
  border: 0.1rem solid #017aff;
}

input[type="file"] {
  display: none;
}

textarea {
  width: 100%;
  resize: none;
  vertical-align: top;
}

.bold-big-font {
  font-family: Roboto-Medium, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: #323232;
}

.base-font-small {
  font-family: Roboto-Regular;
  /* font-style: normal;
  font-weight: normal; */
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.task-numbers-font {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #bdbdc1;
}

.subTasks-numbers-font {
  width: 2.4rem;
  font-family: Roboto-Regular;
  font-size: 14px;
  line-height: 16px;
  color: #bdbdc1;
}

.border-error {
  border: 0.1rem solid #eb5757;
}
